.ui .comments {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.ui .comments .comment .content {
    flex: 1;
    padding: 10px;
}